<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Todo lo que necesite tu mascota">
    <meta name="robots" content="nofollow">
    <title>Como Perros y Gatos|todo para tu mascota</title>
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="../css/estilo_contactos.css">
</head>
<body>
    <header>
        <img src="../assets/images/logo_inicio.png" alt="logo" class="logo">
        <h1>Como Perros y Gatos</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/index.html" class="boton_nav_inicio">Inicio</a></li>
            <li><a href="./contactos.html" class="boton_nav_contactos">Contactos</a></li>              
            <li><a href="./presupuesto.html" class="boton_nav_presupuestos">Presuspuestos</a></li>
            <li><a href="./productos.html" class="boton_nav_productos">Productos</a></li>            
        </ul>
    </nav>
    <!--seccion con direccion y mapa-->
    <main>
        <section>
            <div class="mapa">
                <!--direccion-->
                <h3 class="direccion">C. de Viladomat, 225, 08029 Barcelona</h3>
                <!--acceso a maps-->
                <a href="https://www.google.com/maps/place/M%C3%A1ster+D/@41.3853953,2.1469137,17z/data=!3m1!4b1!4m6!3m5!1s0x12a4a3aeb4f47ac3:0x4b9b37d0b011cd28!8m2!3d41.3853913!4d2.1494886!16s%2Fg%2F11s7cm_y4x?entry=ttu" target="_blank">
                <!--imagen recorte de la direccion en maps-->
                <img src="../assets/images/mapa.png" alt="mapa" class="mapa">
                </a>
            </div>
        </section>
    </main>
    <!--pie de pagina-->
    <footer>
        <div class="redes">
                <!--logo acceso a facebook-->
            <a href="https://facebook.com" target="_blank">
                <img src="../assets/images/face.png" alt="facebook" class="img_footer">
            </a>
                <!--logo acceso a twitter-->
            <a href="https://twitter.com" target="_blank">
                <img src="../assets/images/twitter.png" alt="twitter" class="img_footer">
            </a>
                <!--logo acceso a whatsapp-->
            <a href="https://whatsapp.com/.com" target="_blank">
                <img src="../assets/images/wathsapp.png" alt="wathsapp" class="img_footer">
            </a>
                <!--logo acceso a instagram-->
            <a href="https://instagram.com" target="_blank">
                <img src="../assets/images/instagram.png" alt="instagram" class="img_footer">
            </a>
            <p>Siguenos</p>
        </div>
        <div class="maps_aviso_copyrigth">
                <!--direccion con acceso a maps-->
            <a href="https://www.google.com/maps/place/M%C3%A1ster+D/@41.3853953,2.1469137,17z/data=!3m1!4b1!4m6!3m5!1s0x12a4a3aeb4f47ac3:0x4b9b37d0b011cd28!8m2!3d41.3853913!4d2.1494886!16s%2Fg%2F11s7cm_y4x?entry=ttu" class="maps_aviso_copyrigth"><p>C. de Viladomat, 225, 08029 Barcelona</p></a>
                <!--copyrigth-->
            <p>@Copyrigth 2023... Todos los derechos reservados</p>
                <!--aviso legal-->
            <p>Aviso Legal</p> 
        </div>
    </footer>
</body>