<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Todo lo que necesite tu mascota">
    <meta name="robots" content="nofollow">
    <title>Como Perros y Gatos|todo para tu mascota</title>
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="../css/estilo_prod.css">
</head>
<body>
    <header>
        <img src="../assets/images/logo_inicio.png" alt="logo" class="logo">
        <h1>Como Perros y Gatos</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/index.html" class="boton_nav_inicio">Inicio</a></li>
            <li><a href="/views/contactos.html" class="boton_nav_contactos">Contactos</a></li>              
            <li><a href="/views/presupuesto.html" class="boton_nav_presupuestos">Presuspuestos</a></li>
            <li><a href="/views/productos.html" class="boton_nav_productos">Productos</a></li>            
        </ul>
    </nav>
    <main>
        <section>
            <div class="prod_gatos">
                <div class="union_celdas_titulo_gato">
                    <h2 class="titulo_perro">¿Tienes un Gato?</h2>
                </div>
                <div>
                    <img src="../assets/images/prod_gatos/prod_gato1.png" alt="gato1">
                </div>
                <div>
                    <img src="../assets/images/prod_gatos/pro_gato2.png" alt="gato2">
                </div>
                <div>
                    <img src="../assets/images/prod_gatos/prod_gato3.png" alt="gato3">
                </div>
                <div>
                    <img src="../assets/images/prod_gatos/prod_gato4.png" alt="gato4">
                </div>
                <div>
                    <img src="../assets/images/prod_gatos/prod_gato5.png" alt="gato5">
                </div>
                <div>
                    <img src="../assets/images/prod_gatos/prod_gato6.png" alt="gato6">
                </div>
                <div>
                    <img src="../assets/images/prod_gatos/prod_gato7.png" alt="gato7">
                </div>
                <div>
                    <img src="../assets/images/prod_gatos/prod_gato8.png" alt="gato8">
                </div>
                <div>
                    <img src="../assets/images/prod_gatos/prod_gato9.png" alt="gato9">
                </div>
                <div>
                    <img src="../assets/images/prod_gatos/prod_gato10.png" alt="gato10">
                </div>
            </div>
        </section>
        <section>        
            <div class="prod_perros">
                <div class="union_celdas_titulo_perro">
                    <h2 class="titulo_perro">¿Tienes un Perro?</h2>
                </div>
                <div>
                    <img src="../assets/images/prod_perros/prod_perro1.png" alt="prod_perro1">
                </div>
                <div>
                    <img src="../assets/images/prod_perros/prod_perro2.png" alt="prod_perro2">
                </div>
                <div>
                    <img src="../assets/images/prod_perros/prod_perro3.png" alt="prod_perro3">
                </div>
                <div>
                    <img src="../assets/images/prod_perros/prod_perro4.png" alt="prod_perro4">
                </div>
                <div>
                    <img src="../assets/images/prod_perros/prod_perro5.png" alt="prod_perro5">
                </div>
                <div>
                    <img src="../assets/images/prod_perros/prod_perro6.png" alt="prod_perro6">
                </div>
                <div>
                    <img src="../assets/images/prod_perros/prod_perro7.png" alt="prod_perro7">
                </div>
                <div>
                    <img src="../assets/images/prod_perros/prod_perro8.png" alt="prod_perro8">
                </div>
                <div>
                    <img src="../assets/images/prod_perros/prod_perro9.png" alt="prod_perro9">
                </div>
                <div>
                    <img src="../assets/images/prod_perros/prod_perro10.png" alt="prod_perro10">
                </div>
            </div>
        </section>
    </main>
    <aside>
        <h2>¡Descubre los mejores consejos sobre perros y gatos!</h2>
        <p class="parrafo_section">En las revista de animales, encontrarás todo lo que necesitas saber sobre razas, 
            alimentación, salud, adiestramiento ¡y mucho más! 
        </p>
        <a href="https://www.elmundodelgato.com/">
            <img src="/assets/images/revista_gatos.jpg" alt="revista_gatos" class="img_revista_gatos">
        </a>
        <a href="https://www.ladridos.es/">
            <img src="/assets/images/revista_perros.png" alt="revista_perros" class="img_revista_perros">
        </a>
    </aside>
    <footer>
        <div class="redes">
                <!--logo acceso a facebook-->
            <a href="https://facebook.com" target="_blank">
                <img src="/assets/images/face.png" alt="facebook" class="img_footer">
            </a>
                <!--logo acceso a twitter-->
            <a href="https://twitter.com" target="_blank">
                <img src="/assets/images/twitter.png" alt="twitter" class="img_footer">
            </a>
                <!--logo acceso a whatsapp-->
            <a href="https://whatsapp.com/.com" target="_blank">
                <img src="/assets/images/wathsapp.png" alt="wathsapp" class="img_footer">
            </a>
                <!--logo acceso a instagram-->
            <a href="https://instagram.com" target="_blank">
                <img src="/assets/images/instagram.png" alt="instagram" class="img_footer">
            </a>
            <p>Siguenos</p>
        </div>
        <div class="maps_aviso_copyrigth">
                <!--direccion con acceso a maps-->
            <a href="https://www.google.com/maps/place/M%C3%A1ster+D/@41.3853953,2.1469137,17z/data=!3m1!4b1!4m6!3m5!1s0x12a4a3aeb4f47ac3:0x4b9b37d0b011cd28!8m2!3d41.3853913!4d2.1494886!16s%2Fg%2F11s7cm_y4x?entry=ttu" class="maps_aviso_copyrigth"><p>C. de Viladomat, 225, 08029 Barcelona</p></a>
                <!--copyrigth-->
            <p>@Copyrigth 2023... Todos los derechos reservados</p>
                <!--aviso legal-->
            <p>Aviso Legal</p> 
        </div>
    </footer>
</body>
</html>
